{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a href="{{ path('admin_product_list') }}"> Produit</a></li>
        <li><a> Taille</a></li>
    </ul>
    <div class="container">
        {% for size in sizes %}
            <div class="col-xs-6 col-sm-3">
                <div class="thumb-container thumb-header" align="center">
                    <h3 >{{ size.size }}</h3>
                    {% if size.deleted ==false %}
                        <span style="color:#78D07D;">Activée</span>
                    {% else %}
                        <span style="color:red;">Désactivée</span>
                    {% endif %}
                </div>
                <div class=" thumb-container thumb-footer" align="center">
                    <div  style="border: solid 1px white;border-radius:10px; width:70px;" >
                        <a href="{{ path('admin_product_size_edit',{'idp': idp,'id':size.id}) }}" class="link thumb-link"><em class="fa fa-edit"></em></a>
                        <a href="#myModal" class="link thumb-link" data-toggle="modal" data-wathever="{{ path('admin_product_size_delete',{'idp': idp,'id':size.id}) }}" ><em class="fa fa-trash-o"></em></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {{ include("AdminBundle::delete.html.twig") }}
{% endblock %}