{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}

    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a>Promotions</a></li>
    </ul>
    <div class="container-fluid" style="background: #FFFFFF;">
        <br>
        <a href="{{ path('admin_product_add') }}" class="col-md-offset-10 btn btn-primary btn-md">
            <span class="fa fa-plus-circle"> </span></span> Nouvelle Promotion </a>
        <br>
        <br>
        <div class="row dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table  class="data-table table table-striped table-bordered dataTable no-footer" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="sorting_asc">Nom</th>
                    <th>Remise</th>
                    <th >Date de début</th>
                    <th >Date de fin</th>
                    <th> Status </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody >
                {% for promotion in promotions %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <td>{{ promotion.id }}</td>
                            <td>{{ promotion.name }}</td>
                            <td>{{ promotion.discount }} %</td>
                            <td>{{ promotion.startDate|date('Y-m-d') }}</td>
                            <td>{{ promotion.endDate|date('Y-m-d') }} </td>

                            <td align="center">
                                {% if promotion.deleted ==false %}
                                    <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_promotion_disable', {'id':promotion.id}) }}" >
                                        <span class="glyphicon glyphicon-ok" style="color:#78D07D;"></span>
                                    </a>
                                {% else %}
                                    {% if promotion.deleted==true %}
                                        <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_promotion_enable', {'id': promotion.id}) }}" >
                                            <span class="glyphicon glyphicon-remove " style="color:red;"></span>
                                        </a>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove " style="color:red;"></span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td align="center">
                                <a href="{{ path('admin_promotion_edit', {'id': promotion.id}) }}" class="link link-success" ><em class="fa fa-edit"></em></a>
                                <a href="#myModal" class="link link-danger" data-toggle="modal" data-wathever="{{ path('admin_promotion_delete', {'id': promotion.id}) }}" ><em class="fa fa-trash-o"></em></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include("AdminBundle::delete.html.twig") }}
{% endblock %}