{% extends "AdminBundle::adminLayout.html.twig" %}

{% block content %}
    {{ parent() }}


    <div class="container-fluid">
        <div class="row">
            <div class="">

                <div class="panel panel-primary  panel-table" >
                    <div class="panel-heading" style="color:#FFFFFF; height: 70px;">
                        <div class="row" >

                            <div class="col col-xs-6">
                                <h3 class="panel-title">Consulter produit</h3>
                            </div>

                            <div class="col col-xs-6 text-right" >
                                <button type="button" class="btn btn-success btn-md "><span class="fa fa-plus"> </span> </button>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body table-responsive" >
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>

                                <th class="hidden-xs">{{ knp_pagination_sortable(products, 'Id', 'p.id') }}</th>
                                <th>{{ knp_pagination_sortable(products, 'Produit', 'p.productName') }}</th>

                                <th>{{ knp_pagination_sortable(products, 'Prix', 'p.price') }}</th>
                                <th>{{ knp_pagination_sortable(products, 'Quantité', 'p.quantity') }}</th>
                                <th>{{ knp_pagination_sortable(products, 'Couleur', 'p.productColor') }}</th>
                                <th> Taille </th>
                                <th><em class="fa fa-cog"></em></th>

                            </tr>
                            </thead>
                            <tbody >
                                {% for product in products %}
                                    <tr>


                                        <td>{{ product.id }}</td>
                                        <td>{{ product.productName }}</td>

                                        <td>{{ product.price }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>{{ product.color.colorName }}</td>
                                        <td>
                                            {% for sizes in product.sizes %}
                                            {{ sizes.size }}
                                            {% endfor %}
                                        </td>
                                        <td align="center">

                                            <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning"><em class="fa fa-edit"></em></a>
                                            <a href="#myModal" class="btn btn-danger" data-toggle="modal" data-productPath="{{ path('admin_product_delete', {'id': product.id}) }}"><em class="fa fa-trash-o"></em></a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">

                            <div class="col-md-offset-3">

                                {# display navigation #}
                                <div class="navigation">
                                    {{ knp_pagination_render(products) }}
                                </div>

                            </div>
                            <div class="count">
                                {{ products.getTotalItemCount }}
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{#modal start#}
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" >
                <b style="color:red;font-size: 46px;">!</b>
                </div>
                <h4 class="modal-title">Êtes-vous sûr ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer ce produit ? Ce processus ne peut pas être annulé.</p>
                <h2></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info " data-dismiss="modal"><span class="fa fa-close"> </span> Quitter</button>
                <a href="" class="btn btn-danger" id="delete" style="color:#FFFFFF"><span class="fa fa-trash-o"> </span> Supprimer</a>


            </div>
        </div>
    </div>

</div>




{% endblock %}

