<!-- header-starts -->
<div class="sticky-header header-section ">
    <div class="header-left">
        <!--toggle button start-->
        <button id="showLeftPush"><i class="fa fa-bars"></i></button>
        <!--toggle button end-->
        <div class="profile_details_left">
            <!--notifications of menu start -->
            <ul class="nofitications-dropdown">

                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="badge blue">{{ app.session.get('notif') }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>Vous avez {{ app.session.get('notif') }} commandes en attente</h3>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        <div class="profile_details">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">

                            <span class="prfil-img"><img src="{{ asset('assets/admin/images/user.png' ) }}" alt=""> </span>
                            <div class="user-name">
                                <p>{{ app.user.username }}</p>
                               <span>
                                {% for role in app.user.roles %}
                                    {% if role =="ROLE_SUPER_ADMIN" %}
                                        Super Admin
                                    {% elseif role =="ROLE_ADMIN" %}
                                        Admin
                                    {% elseif role =="ROLE_PARTNER" %}
                                        Partner
                                    {% endif %}
                                {% endfor %}
                               </span>
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        <li> <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-cog"></i> Mot de passe</a> </li>
                        <li> <a href="{{ path('admin_user_edit', {'id': app.user.id}) }}"><i class="fa fa-user"></i> {{ 'My Account'|trans }}</a> </li>
                        <li> <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //header-ends -->
