
<div id="page-wrapper" style="padding-top: 50px;">
    <div class="main-page" style="  padding-top: 10px;margin-top: 0px">

        <div class="col_3">
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>{{ sum }} €</strong></h5>
                        <span>Revenu total</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-laptop user1 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>{{ products }}</strong></h5>
                        <span>Produits</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-money user2 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>{{ orders }}</strong></h5>
                        <span>Commandes</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-truck dollar1 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>{{ delivries }}</strong></h5>
                        <span>Livreurs</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-users dollar2 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong>{{ customers }}</strong></h5>
                        <span>clients</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>