{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a > Stock </a></li>
    </ul>
    <div class="container-fluid" style="background: #FFFFFF;">
        <br>
        <a href="{{ path('admin_stock_edit') }}" class="col-md-offset-10 btn btn-primary btn-md">
            <span class="fa fa-plus-circle"> </span></span> Additionner quantité </a>
        <br>
        <br>
        <div class="row dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table  class="data-table table table-striped table-bordered dataTable no-footer" style="width:100%">
                <thead>
                <tr>
                    <th >Id</th>
                    <th class="sorting_asc">Produit</th>
                    <th >Catégorie</th>
                    <th>Quantité</th>
                    <th> Etat </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_product_show',{'id': product.id}) }}" class="link">
                                    {{ product.id }}</a>
                            </td>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.category.name }}</td>
                            <td class="money">{{ product.quantity }}</td>


                            <td>{{ product.status }}</td>
                            <td align="center">
                                <a href="{{ path('admin_stock_edit', {'id': product.id}) }}" class="link link-success" ><em class="fa fa-plus-square"></em></a>
                                <a href="#" class="link link-danger"><em class="fa fa-minus-square"></em></a>
                            </td>
                        </tr>




                    {% else %}
                        {% if product.category.brand.user.username==app.user.username %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_product_show',{'id': product.id}) }}" class="link">
                                        {{ product.id }}</a>
                                </td>
                                <td>{{ product.productName }}</td>
                                <td>{{ product.category.name }}</td>

                                <td class="money">{{ product.quantity }}</td>


                                <td>{{ product.status }}</td>
                                <td align="center">
                                    <a href="#" class="link link-success" ><em class="fa fa-plus-square"></em></a>
                                    <a href="#" class="link link-danger"><em class="fa fa-minus-square"></em></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

