{% extends "AdminBundle::adminLayout.html.twig" %} 

{% block content %}
    {{ parent() }}



  
  {# ouverture de la formulaire equivalent a la balise <form> #} 
   {{ form_start(form) }}
{# //form erros genere des erreurs sur un champ exemple champ email sans @ doit introduireun erreur #} 
  {{ form_errors(form) }}

  
{# 
 label de champ c-a-d le nom de champ dans la base de donne exemple on a champ tite dans entite category mais on a modifier par  name#}

    {{ form_label(form.name, "name :") }}

    {#//  pour recupere l'erreur sur name#}
    {{ form_errors(form.name) }}

     
     
      {#// widget c'est le champ  elle meme le champ de text name ici pour introduire les classe css on utilise attr:#}
        {{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'name'}}) }}
   
   

{# ici on a creer une button ici et pas dans le form #}

<button type="submit" class="btn btn-success" >Modifier</button>



  {{ form_rest(form) }}

  {{ form_end(form) }}


{% endblock %}
