{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a href="{{ path('admin_delivery_list') }}"> Livraisons</a></li>
        <li><a >Modifier</a></li>
    </ul>

    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">

            <div class="form-body">
                {{ form_start(form,{'attr': {'class': 'form-horizontal form'}}) }}
                {{ form_errors(form) }}


                <div class="form-group">
                    <label  class="col-sm-2 control-label">Nom :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control ','placeholder':'Nom','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " id="categoryAlertIcon"></span>
                </div>

                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Délai :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.deliveryTime, {'attr': {'class': 'form-control ','placeholder':'Délai','minlength':'1'}}) }}
                    </div>
                    <span class="glyphicon " id="categoryAlertIcon"></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Adresse :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.address, {'attr': {'class': 'form-control ','placeholder':'Adresse','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " id="categoryAlertIcon"></span>
                </div>

                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Prix :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.price, {'attr': {'class': 'form-control ','placeholder':'Prix','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " id="categoryAlertIcon"></span>
                </div>

                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Livraison gratuite :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.freeDelivery, {'attr': {'class': 'form-control ','placeholder':''}}) }}
                    </div>
                    <span class="glyphicon " id="categoryAlertIcon"></span>
                </div>

                <button class="btn btn-success col-md-offset-10 " type="submit" disabled="true"><span class="fa fa-edit"> </span> Modifier</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
