{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a href="{{ path('admin_product_list') }}"> Produit</a></li>
        <li><a> Modifier</a></li>
    </ul>
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">
            <div class="form-body">
                {{ form_start(form,{'attr': {'class': 'form-horizontal form'}}) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Catégorie : <span style="color:#C82829;">*</span></label>
                    <div class="col-sm-9">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Produit : *</label>
                    <div class="col-sm-9" >
                        {{ form_widget(form.productName, {'attr': {'class': 'form-control','placeholder':'Nom De Produit','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon "></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Description : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.productDetails, {'attr': {'class': 'form-control','placeholder':'Description','rows':'10','cols':'100','minlength':'5'}}) }}
                    </div>
                    <span class="glyphicon "></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Quantité : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.quantity, {'attr': {'class': 'form-control','placeholder':'Quantité','minlength':'1'}}) }}
                    </div>
                    <span class="glyphicon"></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Prix : *</label>
                    <div class="col-sm-9 ">
                        {{ form_widget(form.price, {'attr': {'class': 'form-control number','placeholder':'Prix','minlength':'1'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Etat :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.status, {'attr': {'class': 'form-control ','minlength':'1'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <button class="btn btn-success col-md-offset-10 " disabled="true" type="submit" ><span class="fa fa-edit"> </span> Modifier</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

