{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a > Produit</a></li>
    </ul>
    <div class="container-fluid" style="background: #FFFFFF;">
        <br>
            <a href="{{ path('admin_product_add') }}" class="col-md-offset-10 btn btn-primary btn-md">
                <span class="fa fa-plus-circle"> </span></span> Nouveau Produit </a>
        <br>
        <br>
        <div class="row dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table  class="data-table table table-striped table-bordered dataTable no-footer" style="width:100%">
                <thead>
                <tr>
                    <th class="sorting_asc">Catégorie</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                   {# <th>Couleur</th>#}
                    <th> Taille </th>
                    <th> Etat </th>
                    <th><em class="fa fa-cog"></em></th>
                </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.productName }}</td>
                            <td class="money">{{ product.price }} €</td>
                            <td class="money">{{ product.quantity }}</td>
                           {# <td>{{ product.color.colorName }}</td>#}
                            <td>
                                <a href="{{ path('admin_product_size_list', {'id': product.id}) }}" class="link" ><em class="fa fa-eye"></em></a>

                                {% for sizes in product.sizes %}
                                    {{ sizes.size }}
                                {% endfor %}
                            </td>
                            <td align="center">
                                {% if product.deleted ==false %}
                                <span class="glyphicon glyphicon-ok" style="color:#78D07D;"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove " style="color:red;"></span>
                                {% endif %}
                            </td>
                            <td align="center">
                                <a href="{{ path('admin_product_show',{'id': product.id}) }}" class="link"><em class="fa fa-eye"></em></a>
                                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="link" ><em class="fa fa-edit"></em></a>
                                <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_product_delete', {'id': product.id}) }}" ><em class="fa fa-trash-o"></em></a>
                                <a href="{{ path('admin_product_image_list',{'id': product.id}) }}" class="link"><em class="fa fa-picture-o"></em></a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include("AdminBundle::delete.html.twig") }}

{% endblock %}

