{% extends "AdminBundle::adminLayout.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="container-fluid">
        <div class="row">
            <table id="exemple" class="display" style="width:100%">
                <thead>
                <tr>
                    <th class="hidden-xs">ID</th>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Couleur</th>
                    <th> Taille </th>
                    <th><em class="fa fa-cog"></em></th>
                </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.color.colorName }}</td>
                            <td>
                                {% for sizes in product.sizes %}
                                    {{ sizes.size }}
                                {% endfor %}
                            </td>
                            <td align="center">
                                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-warning"><em class="fa fa-edit"></em></a>
                                <a href="#myModal" class="btn btn-danger" data-toggle="modal" data-wathever="{{ path('admin_product_delete', {'id': product.id}) }}" ><em class="fa fa-trash-o"></em></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include("AdminBundle::delete.html.twig") }}
    {% block js %}
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
        <script>$(document).ready( function () {
                $('#exemple').DataTable();
            } );</script>
    {% endblock %}
{% endblock %}

