{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}

    <main role="main">
        <div class="product">
            <figure>

                    <div id='carousel-custom' class='carousel slide ' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner  '>
                                {% for image in product.images %}
                                    {% set counter = ( counter | default(0) ) + 1 %}
                                    {% if counter==1 %}
                                        <div class='item active '>
                                            <img class="img-responsive" src="{{ asset('uploads/product/'~ image.name ) }}"/>
                                        </div>
                                    {% else %}
                                        <div class='item ' >
                                            <img class="img-responsive" src="{{ asset('uploads/product/'~ image.name ) }}" alt=''  />
                                        </div>

                                    {% endif %}
                                {% endfor %}
                            </div>


                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <span class='glyphicon glyphicon-menu-left'></span>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <span class='glyphicon glyphicon-menu-right'></span>
                            </a>
                        </div>




                    </div>
            </figure>

            <div class="product-description">

                <div class="info">
                    <h1>{{ product.productName }}</h1>


                </div>

                <div class="price">
                    {{ product.price }},00
                </div>
            </div>

            <div class="product-sidebar">
                <button class="buy">
                    <span>Ajouter</span>
                </button>

                <button class="info">
                    <span>Description</span>
                </button>

                <button class="size">
                    <span>
                         XL
                    </span>
                </button>


            </div>
        </div>
    </main>








{% endblock %}