{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
<style>.carousel-inner {
        position: relative;
        width: 100%;
        min-height: 300px;
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none !important;
        background-repeat: repeat-x;
    }
    .carousel-control.left {
        left: 0;
        right: auto;
        background-image: none !important;
        background-repeat: repeat-x;
    }
    #carousel-example-generic {
        margin: 20px auto;
        width: 100%;
    }

    #carousel-custom {
        margin: 20px auto;
        width: 400px;
    }
    #carousel-custom .carousel-indicators {
        margin: 10px 0 0;
        overflow: auto;
        position: static;
        text-align: left;
        white-space: nowrap;
        width: 100%;
        overflow:hidden;
    }
    #carousel-custom .carousel-indicators li {
        background-color: transparent;
        -webkit-border-radius: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        margin: 0 !important;
        width: auto;
    }
    #carousel-custom .carousel-indicators li img {
        display: block;
        opacity: 0.5;
    }
    #carousel-custom .carousel-indicators li.active img {
        opacity: 1;
    }
    #carousel-custom .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    #carousel-custom .carousel-outer {
        position: relative;
    }
    .carousel-indicators li img {
        height: 66px;
        width: 52px;}
</style>


<div class="container">
    <div class="row">
        <div class=" col-sm-4 col-xs-4">


            <div class="container">
                <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-outer'>
                        <!-- me art lab slider -->
                        <div class='carousel-inner '>
                        {% for image in product.images %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            {% if counter==1 %}
                            <div class='item active'>
                                <img src="{{ asset('uploads/product/'~ image.name ) }}"/>
                            </div>
                            {% else %}
                            <div class='item' >
                                <img src="{{ asset('uploads/product/'~ image.name ) }}" alt=''  />
                            </div>

                            {% endif %}
                {% endfor %}
                        </div>


                        <!-- sag sol -->
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <span class='glyphicon glyphicon-chevron-left'></span>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <span class='glyphicon glyphicon-chevron-right'></span>
                        </a>
                    </div>

                    <!-- thumb -->
                    <ol class='carousel-indicators mCustomScrollbar meartlab'>
    {% for image in product.images %}
        {% set counter = ( counter | default(0) ) + 1 %}
        {% if counter==1 %}
                        <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src="{{ asset('uploads/product/'~ image.name ) }}" alt='' /></li>
        {% else %}
            <li data-target='#carousel-custom' data-slide-to='1'><img src="{{ asset('uploads/product/'~ image.name ) }}" alt='' /></li>
        {% endif %}
    {% endfor %}
                    </ol>

                </div>

                <script type="text/javascript">


                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}