{% extends "AdminBundle::adminLayout.html.twig" %} 


{% block content %}

    {{ parent() }}


  <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">

            <div class="form-title form-header">

                <h4>Ajouter Catégorie</h4>


            </div>
                <div class="form-body">

                    {{ form_start(form,{'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}

                    
                    
                    <div class="form-group containerCategory">

                        <label  class="col-sm-2 control-label">Catégorie</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control categoryName','placeholder':'Nom Du Catégorie'}}) }}

                            <span id="categoryHelp" class="help-block sr-only">
                            le nom de la catégorie doit contenir au minimum 2 caractères.
                            </span>

                        </div>
                        <span class="glyphicon " id="categoryAlertIcon"></span>
                    </div>

                    <button class="btn btn-warning col-md-offset-10 disabled" type="submit" 
                    id="btnAdd"><span class="fa fa-plus-circle"> </span> Ajouter</button>

                    

                   {# <button class="btn btn-success"><span class="fa fa-edit"> </span> Modifier</button>
                    <button class="btn btn-danger"><span class="fa fa-trash-o"> </span> Supprimer</button>
                    #}


                    {{ form_rest(form) }}
                    {{ form_end(form) }}

            </div>
        </div>
    </div>

{% block js%}

{{ parent() }}
{% endblock %}

{% endblock %}
