{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a href="{{ path('admin_brand_list') }}"> Marque</a></li>
        <li><a > Ajouter</a></li>
    </ul>
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">

            <div class="form-body">
                {{ form_start(form,{'attr': {'class': 'form-horizontal form'}}) }}
                {{ form_errors(form) }}
             <input type="text" value="{{ app.user.id }}" name="user" id="user" hidden="hidden">
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Nom : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.brandName, {'attr': {'class': 'form-control','placeholder':'Nom de marque','rows':'10','cols':'100','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon "></span>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Description : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Description','rows':'10','cols':'100','minlength':'5'}}) }}
                    </div>
                    <span class="glyphicon "></span>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="avatar-upload col-md-offset-3 col-md-2 ">
                            <p><b>Logo : *</b></p>
                            <div class="avatar-edit">
                                {{ form_widget(form.logo.file, {'attr': {'class': 'form-control','placeholder':'file','accept':'image/*'}}) }}
                                <label for="corebundle_brand_logo_file"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url({{ asset('assets/admin/images/image.png') }});">
                                </div>
                            </div>
                        </div>
                        <div class="avatar-upload col-md-2 col-md-offset-1">
                            <p><b>Image : *</b></p>
                            <div class="avatar-edit ">

                                {{ form_widget(form.brandImage.file, {'attr': {'class': 'form-control','placeholder':'file','accept':'image/*'}}) }}

                                <label for="corebundle_brand_brandImage_file"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview1" style="background-image: url({{ asset('assets/admin/images/image.png') }});">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button  class="btn btn-warning col-md-offset-10" disabled="true" type="submit"><span class="fa fa-plus-circle"> </span> Ajouter</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}