{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">
            <div class="form-title form-header">
                <h4>Ajouter Marque</h4>
            </div>
            <div class="form-body">
                {{ form_start(form,{'attr': {'class': 'form-horizontal form'}}) }}
                {{ form_errors(form) }}
            <div class="form-group">
                    <label  class="col-sm-2 control-label">Nom : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.brandName, {'attr': {'class': 'form-control','placeholder':'Nom de marque','rows':'10','cols':'100','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon "></span>
             </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Description : *</label>
                <div class="col-sm-9">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'Description','rows':'10','cols':'100','minlength':'5'}}) }}
                </div>
                <span class="glyphicon "></span>
            </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Logo : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.logo, {'attr': {'class': 'form-control','placeholder':'file','accept':'image/*'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
            <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Image : *</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.brandImage, {'attr': {'class': 'form-control','placeholder':'file','accept':'image/*'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
            </div>
                <button id="btnAddImage" class="btn btn-warning col-md-offset-10" disabled="true" type="submit"><span class="fa fa-plus-circle"> </span> Ajouter</button>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            </div>
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
