{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a > Marque</a></li>
    </ul>
    <div class="container-fluid " style="background: #FFFFFF;">
        <br>
            <a href="{{ path('admin_brand_add') }}" class="col-md-offset-10 btn btn-primary btn-md">
                <span class="fa fa-plus-circle"> </span> Nouvelle Marque </a>
        <br>
        <br>
        <div class="row dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table  class="data-table table table-striped table-bordered dataTable no-footer" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>logo</th>
                    <th class="sorting_asc">Name</th>
                    <th> Etiquette </th>
                    <th> Status </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for brand in brands %}
                {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('admin_brand_show',{'id': brand.id}) }}" class="link">
                                {{ brand.id }}
                            </a>
                        </td>
                        <td align="center"><img src="{{ asset('uploads/brand/'~ brand.logo.name ) }}" style="width: 50px;" /></td>
                        <td>{{ brand.brandName }}</td>
                        <td>{{ brand.tag.name }}</td>
                        <td align="center">
                            {% if brand.deleted ==false %}
                                <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_brand_disable', {'id': brand.id}) }}" >
                                    <span class="glyphicon glyphicon-ok" style="color:#78D07D;"></span>
                                </a>
                            {% else %}
                                <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_brand_enable', {'id': brand.id}) }}" >
                                    <span class="glyphicon glyphicon-remove " style="color:red;"></span>
                                </a>
                            {% endif %}
                        </td>
                        <td align="center">
                            <a href="{{ path('admin_brand_edit', {'id': brand.id}) }}" class="link link-success" ><em class="fa fa-edit"></em></a>
                            <a href="#myModal" class="link link-danger" data-toggle="modal" data-wathever="{{ path('admin_brand_delete', {'id': brand.id}) }}" ><em class="fa fa-trash-o"></em></a>
                        </td>
                    </tr>
                    {% else %}
                        {% if brand.user.username==app.user.username %}
                            <tr>
                                <td><a href="{{ path('admin_brand_show',{'id': brand.id}) }}" class="link">
                                        {{ brand.id }}
                                    </a>
                                </td>
                                <td align="center"><img src="{{ asset('uploads/brand/'~ brand.logo.name ) }}" style="width: 50px;" /></td>
                                <td>{{ brand.brandName }}</td>
                                <td>{{ brand.tag.name }}</td>
                                <td align="center">
                                    {% if brand.deleted ==false %}
                                        <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_brand_disable', {'id': brand.id}) }}" >
                                            <span class="glyphicon glyphicon-ok" style="color:#78D07D;"></span>
                                        </a>
                                    {% else %}
                                        <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_brand_enable', {'id': brand.id}) }}" >
                                            <span class="glyphicon glyphicon-remove " style="color:red;"></span>
                                        </a>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('admin_brand_edit', {'id': brand.id}) }}" class="link link-success" ><em class="fa fa-edit"></em></a>
                                    <a href="#myModal" class="link link-danger" data-toggle="modal" data-wathever="{{ path('admin_brand_delete', {'id': brand.id}) }}" ><em class="fa fa-trash-o"></em></a>
                                </td>
                            </tr>
                        {% endif  %}
                    {% endif  %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ include("AdminBundle::delete.html.twig") }}

{% endblock %}
