{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}

    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a>Clients</a></li>
    </ul>
    <div class="container-fluid" style="background: #FFFFFF;">
        <br>

        <br>
        <div class="row dataTables_wrapper form-inline dt-bootstrap no-footer">
            <table  class="data-table table table-striped table-bordered dataTable no-footer" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th class="sorting_asc">Nom</th>
                    <th >Prénom</th>
                    <th >Date de Naissance</th>
                    <th >Email</th>
                    <th >Télephone</th>
                    <th >Code de parrainage</th>
                    <th >Code parrain</th>

                    <th> Status </th>

                </tr>
                </thead>
                <tbody >
                {% for customer in customers %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_customer_list',{'id': customer.id}) }}" class="link">
                                    {{ customer.id }}
                                </a>
                            </td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.familyName }}</td>
                            <td>{{ customer.birthDate }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phoneNumber }}</td>
                            <td>{{ customer.sponsorshipCode }}</td>
                            <td>{{ customer.sponsorCode }}</td>
                            <td align="center">
                                {% if customer.deleted ==false %}
                                    <a href="#myModal" class="link" data-toggle="modal" data-wathever="{{ path('admin_customer_disable', {'id':customer.id}) }}" >
                                        <span class="glyphicon glyphicon-ok" style="color:#78D07D;"></span>
                                    </a>

                                    {% else %}
                                        <span class="glyphicon glyphicon-remove " style="color:red;"></span>

                                {% endif %}
                            </td>

                        </tr>

                        {% endif %}
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


    {{ include("AdminBundle::delete.html.twig") }}

{% endblock %}