{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a href="{{ path('admin_user_list') }}">Utilisateur</a></li>
        <li><a > Ajouter</a></li>
    </ul>
    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">
            <div class="form-body">
                {{ form_start(form,{'attr': {'class': 'form-horizontal form'}}) }}
                {{ form_errors(form) }}
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Prénom :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control ','placeholder':'Prénom','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Nom :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.familyName, {'attr': {'class': 'form-control ','placeholder':'Nom','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Nom d'utilisateur :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control ','placeholder':'Nom utilisateur','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Adresse e-mail :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control ','placeholder':'Email','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Mot de passe :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control ','placeholder':'Mot de passe','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Répéter le mot de passe :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control ','placeholder':'Mot de passe','minlength':'2'}}) }}
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <div class="form-group has-feedback">
                    <label  class="col-sm-2 control-label">Role :</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="role" name="role">
                            <option value="ROLE_ADMIN">Admin</option>
                            <option value="ROLE_PARTNER">Partnaire</option>
                        </select>
                    </div>
                    <span class="glyphicon " ></span>
                </div>
                <button class="btn btn-warning col-md-offset-10 " type="submit" disabled="true" ><span class="fa fa-plus-circle"> </span> Ajouter</button>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

