{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}

    <div class="container">
    {% for image in images %}

        <div class="col-xs-6 col-sm-3">
            <div class="thumb-container thumb-header" align="center">
                <h3 >{{ image.label }}</h3>
                {% if image.deleted ==false %}
                    <span style="color:#78D07D;">Activée</span>
                {% else %}
                    <span style="color:red;">Désactivée</span>
                {% endif %}
            </div>


            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                <img src="{{ asset('uploads/product/'~ image.name ) }}">
            </a>
            <div class=" thumb-container thumb-footer" align="center">

                <div  style="border: solid 1px white;border-radius:10px; width:70px;" >
                    <a href="{{ path('admin_product_image_edit',{'idp': idp,'id':image.id}) }}" class="link thumb-link"><em class="fa fa-edit"></em></a>
                    <a href="#myModal" class="link thumb-link" data-toggle="modal" data-wathever="{{ path('admin_product_image_delete',{'idp': idp,'id':image.id}) }}" ><em class="fa fa-trash-o"></em></a>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" />
                </div>
            </div>
        </div>
    </div>

    {{ include("AdminBundle::delete.html.twig") }}







{% endblock %}