{% extends "AdminBundle::adminLayout.html.twig" %}

{% block content %}

    {{ parent() }}


    <div class=" form-grids row form-grids-right">
        <div class="widget-shadow " data-example-id="basic-forms">

            <div class="form-title form-header">

                <h4>Ajouter Produit</h4>


            </div>
            <div class="form-body">

                {{ form_start(form,{'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}



                <div class="form-group containerLabelImage">
                    <label  class="col-sm-2 control-label">label</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.label, {'attr': {'class': 'form-control labelImage ','placeholder':'Nom image'}}) }}
                        <span id="LabelImageHelp" class="help-block sr-only">
                           le nom doit contenir au minimum 2 caractere.
                            </span>
                    </div>
                    <span class="glyphicon " id="LabelImageAlertIcon"></span>
                </div>

                <div class="form-group">
                    <label  class="col-sm-2 control-label">file :</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.file, {'attr': {'class': 'form-control','placeholder':'Description','rows':'10','cols':'100'}}) }}
                    </div>
                </div>




                <button class="btn btn-warning col-md-offset-9" type="submit"><span class="fa fa-plus-circle"> </span> Ajouter</button>
                <a href="{{ path('admin_product_show') }}" class="btn btn-primary " type=><span class="fa fa-check-square-o"> </span> Passer</a>





                {{ form_rest(form) }}
                {{ form_end(form) }}





            </div>
        </div>
    </div>
{% endblock %}

